@CHARSET "UTF-8";

.button {
	display: inline-block;
	white-space: nowrap;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee),
		to(#ccc) );
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee',
		EndColorStr='#cccccc' );
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.2em;
	font: bold 1em/2em Arial, Helvetica;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0
		rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0
		rgba(0, 0, 0, .3);
	box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0
		rgba(0, 0, 0, .3);
}

.button.notext:after {
	font-size: 1.5em;
}

.button.notext {
	margin: 0;
/* 	width: 0.5em; */
}

.button:hover {
	background-color: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa),
		to(#ddd) );
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',
		EndColorStr='#dddddd' );
}

.button:active {
	-moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3) inset;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3) inset;
	position: relative;
	top: 1px;
}

.button:focus {
	outline: 0;
	background: #fafafa;
}

.button.text:before {
	background: #ccc;
	background: rgba(0, 0, 0, .1);
	float: left;
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0, 0, 0, .5), 2px 0 0
		rgba(255, 255, 255, .5);
	-webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, .5), 2px 0 0
		rgba(255, 255, 255, .5);
	box-shadow: 1px 0 0 rgba(0, 0, 0, .5), 2px 0 0 rgba(255, 255, 255, .5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
	pointer-events: none;
}

/* Hexadecimal entities for the icons */
.button.text.create:before,.button.notext.create:after {
	content: "\271A";
}

.button.text.edit:before,.button.notext.edit:after {
	content: "\270E";
}

.button.text.delete:before,.button.notext.delete:after {
	content: "\2718";
}

.button.text.submit:before,.button.notext.submit:after {
	content: "\2714";
}

.button.text.cancel:before,.button.notext.cancel:after {
	content: "\2718";
}

.button.text.view:before,.button.notext.view:after {
	content: "\2139";
}

.button.text.index:before,.button.notext.index:after {
	content: "\2261";
}

.button.text.rate:before,.button.notext.rate:after {
	content: "\00B1";
}

.button.text.login:before,.button.notext.login:after {
	content: "\1F50F";
}

.button.text.logout:before,.button.notext.logout:after {
	content: "\1F50F";
}