/*********************************************
	General page layout and classes for re-use
**********************************************/

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

html {
	height: 100%;
}

/*
	Container contains the whole page
*/
#container {
	font-family: Arial;
	min-height: 100%;
	width: 980px;
	background: #ddd;
	padding: 0;
	margin: 0 auto 0 auto;
	-webkit-box-shadow: 3px 2px 5px #aaa;
	-moz-box-shadow: 3px 2px 5px #aaa;
	box-shadow: 3px 2px 5px #aaa;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 3px 2px 5px #aaa;
}


/*
	Topbar contains the title and logo
*/
#topbar {
	text-shadow: 1px 1px 2px #999;
	margin: 0;
	width: 960px;
	display: block;
	height: 100px;
	background: url(../img/banner.jpg);
	border-radius: 7px 7px 0 0;
	z-index: 2;
}

#background {
	position: absolute;
	top: 10px;
	z-index: 1;
	width: 940px;
	background: white;
	opacity: 0.8;
	display: run-in;
	height: 80px;
	border-radius: 7px 7px 7px 7px;
}

#topbar h1 {
	margin-bottom: 0px;
}

#logo {
	position: absolute;
	top: 20px;
	right: 10px;
	height: 80px;
}

#contentTopBar {
	position: absolute;
	top: 0px;
	width: 940px;
	z-index: 2;
}

#contentTopBar p {
	margin-top: 7px;
}

/*
	Navbar
*/
#navbar {
	top: 120px;
	width: auto;
	height: 80px;
	display: block;
	background-color: rgb(50, 50, 50);
	padding: 5px;
	border-radius: 0px 0px 0 0;
	overflow: hidden;
	z-index: 2;
}

#navbar div {
	margin: 0;
	padding: 0;
}

#navbar .left {
	width: 800px;
}

#navbar .right {
	text-align: right;
}

/*
	Flash shows confirmation and error messages
*/
#flash {
	font-weight: bold;
	padding: 0px 10px;
}

#flash.positive {
	background-color: rgb(100, 255, 100);
}

#flash.negative {
	background-color: rgb(255, 100, 100);
}

/*
	Main contains both the content and the additional side navigation bar
*/
#main {
	z-index: 1;
	width: auto;
	display: block;
	overflow: hidden;
	padding: 0 0 60px 0;
	margin-bottom: 0px;
}


/*
	Actual page content
*/
#content {
	width: 720px;
	margin-left: 10px;
	margin-right: 20px;
	float: left;
}

#content h1 {
	font-size: 16pt;
} 

/*
	Additional side navigation bar
*/
#column_right {
	background-color: rgb(50, 50, 50);
	float: right;
	width: 180px;
	overflow: hidden;
	padding: 5px;
	border-radius: 0 0 7px 7px;
}

#column_right .button {
	display: block;
}

/*
	Footer
*/
#footer {
	color: lightgrey;
	font-size: 10px;
	text-align: right;
	width: 960px;
	position: fixed;
	bottom: 0px;
	display: run-in;
	height: 30px;
	background-color: rgb(50, 50, 50);
	border-radius: 0 0 7px 7px;
}


/*********************************************
	Styling of additional layout elements
**********************************************/

div.spacer {
	clear: both;
	height: 10px;
	display: block;
}

/*
	Error messages next to input elements
*/
.error {
	color: rgb(200, 0, 0);
}

/*
	Divs to display data in two columns
*/
.leftRight {
	overflow: hidden;
	
	display: block;
}

.left, .right {
	float: left;
	width: auto;
}

table {
	border-collapse: collapse;
}

td,th {
	border: 0px solid black;
	padding: 2px 5px;
	text-align: left;
}

/*
	Alternating row background color
*/
tr:nth-child(even) {
	background-color: rgb(80, 80, 80);
	color: white;
}

div {
	padding: 10px;
}

/*
	Visually group elements and use h2 as title
*/
.group {
	border: 1px solid black;
	border-radius: 7px;
	background-color: rgb(240, 240, 240);
	margin-bottom: 3em;
	margin-top: 1em;
}

.group h2 {
	position: relative;
	top: -1em;
	background-color: white;
	display: inline-block;
	padding: 0 0.2em;
	margin: 0;
	background-color: rgb(240, 240, 240);
}

/*
	Format the range slider
*/
.range {
	display: inline-block;
	vertical-align: middle;
}

.range span {
	padding: 1em;
}
