#container {
	width: 780px;
	margin: 0 auto;
	padding: 0px;
}

#topbar {
	width: auto;
	display: block;
	height: 80px;
	background-color: grey;
}

#navbar {
	width: auto;
	display: block;
	height: 24px;
	background-color: lightgrey;
	padding: 5px;
}

#main {
	width: auto;
	display: block;
	overflow: hidden;
	padding: 0px;
}

#content {
	width: 520px;
	margin-right: 20px;
	float: left;
}

#column_right {
	background-color: lightgrey;
	float: right;
	width: 180px;
	overflow: hidden;
	padding: 10px
}

/* 
div.spacer, solve an issue with #container height
in css 2 column layout. 
*/
div.spacer {
	clear: both;
	height: 10px;
	display: block;
}

#footer {
	width: 780px;
	position: fixed;
	bottom: 0px;
	display: block;
	height: 50px;
	background-color: grey;
}

#flash {
	font-weight: bold;
	background-color: rgb(255, 100, 100);
	padding: 0px 10px;
}

.error {
	color: rgb(200, 0, 0);
}

table {
	border-collapse: collapse;

}

td, th {
	border: 1px solid black;
	padding: 2px 5px;
}

div {
	padding: 10px;
}